.idea
.claude
.opencode/
opencode.jsonc
labs/lab-1-hello-llm/target/
labs/lab-1-hello-llm/.classpath
labs/lab-1-hello-llm/.project
labs/lab-1-hello-llm/.settings/
labs/lab-2-rag-agent/target/
labs/lab-2-rag-agent/.classpath
labs/lab-2-rag-agent/.project
labs/lab-2-rag-agent/.settings/
labs/lab-3-agentic-workflows/target/
labs/lab-3-agentic-workflows/.classpath
labs/lab-3-agentic-workflows/.project
labs/lab-3-agentic-workflows/.settings/
labs/lab-4-developer-sidekick/target/
labs/lab-4-developer-sidekick/.classpath
labs/lab-4-developer-sidekick/.project
labs/lab-4-developer-sidekick/.settings/
labs/lab-4-developer-sidekick/workspace/sample-project/target
labs/lab-4-developer-sidekick/workspace/sample-project/src/main/java/com/example/TestFile.java
labs/lab-4-developer-sidekick/workspace/sample-project/src/main/java/com/example/HealthController.java